# ---------------------------------------------
# USTAWIENIA KEYCLOAK (Frontend & Backend)
# ---------------------------------------------
KEYCLOAK_URL=http://localhost:8080
KEYCLOAK_INTERNAL_URL=http://keycloak:8080
KEYCLOAK_REALM=terappka
KEYCLOAK_CLIENT_ID=terappka-client
KEYCLOAK_CLIENT_SECRET=K5E1uL2PGcTEgQBKyjZZVOv5JGFunXsF
KEYCLOAK_ISSUER=http://localhost:8080/realms/terappka
KEYCLOAK_CERTS_URL=http://keycloak:8080/realms/terappka/protocol/openid-connect/certs
KC_DB_URL=jdbc:mysql://mysql:3306/keycloak
KC_DB_USERNAME=keycloak
KC_DB_PASSWORD=password
KC_BOOTSTRAP_ADMIN_USERNAME=admin
KC_BOOTSTRAP_ADMIN_PASSWORD=admin
# ---------------------------------------------
# WSPÓLNA BAZA DANYCH (MYSQL)
# ---------------------------------------------
MYSQL_ROOT_PASSWORD=rootpassword
MYSQL_DATABASE=keycloak
MYSQL_USER=keycloak
MYSQL_PASSWORD=password

DATABASE_URL=mysql+pymysql://keycloak:password@mysql:3306/keycloak

# ---------------------------------------------
# BACKEND (FLASK)
# ---------------------------------------------
JWT_SECRET_KEY=TWFydGFNYU1hxYJlSmFqa2ExMjM=
BACKEND_INTERNAL_URL=http://backend:5000

# ---------------------------------------------
# FRONTEND (NEXT.JS / NEXTAUTH)
# ---------------------------------------------
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=6tQj1hVdFPej8k/CAvf6Wrcugy2KSMx1iK2WgswzzSI=
NEXT_PUBLIC_API_URL=http://localhost:5000